<a href="https://colab.research.google.com/github/listyaaa/Simulation-for-Data-Science-with-R/blob/master/Tugas1_NissaListya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# Memuat Data
df = pd.read_csv('Data Mining/movie_sample_dataset.csv')
df.head(10)

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,Color,Martin Scorsese,240,116866727.0,Biography|Comedy|Crime|Drama,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,Color,Shane Black,195,408992272.0,Action|Adventure|Sci-Fi,Iron Man 3,2013,English,USA,200000000.0,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000
2,color,Quentin Tarantino,187,54116191.0,Crime|Drama|Mystery|Thriller|Western,The Hateful Eight,2015,English,USA,44000000.0,7.9,"Craig Stark,Jennifer Jason Leigh,ZoÃ« Bell",114000
3,Color,Kenneth Lonergan,186,46495.0,Drama,Margaret,2011,English,usa,14000000.0,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0
4,Color,Peter Jackson,186,258355354.0,Adventure|Fantasy,The Hobbit: The Desolation of Smaug,2013,English,USA,225000000.0,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000
5,NaN,NaN,183,330249062.0,Action|Adventure|Sci-Fi,Batman v Superman: Dawn of Justice,202,English,USA,250000000.0,6.9,"Henry Cavill,Lauren Cohan,Alan D. Purwin",197000
6,Color,Peter Jackson,-50,303001229.0,Adventure|Fantasy,The Hobbit: An Unexpected Journey,2012,English,USA,180000000.0,7.9,"Aidan Turner,Adam Brown,James Nesbitt",166000
7,Color,Edward Hall,180,NaN,Drama|Romance,Restless,2012,English,UK,NaN,7.2,"Rufus Sewell,Hayley Atwell,Charlotte Rampling",434
8,Color,Joss Whedon,173,623279547.0,Action|Adventure|Sci-Fi,The Avengers,2012,English,USA,220000000.0,8.1,"Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...",123000
9,Color,Joss Whedon,173,623279547.0,Action|Adventure|Sci-Fi,The Avengers,2012,English,USA,220000000.0,8.1,"Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...",123000

In [ ]:
# Memeriksa Data
df.dtypes

color                    object
director_name            object
duration                  int64
gross                   float64
genres                   object
movie_title              object
title_year                int64
language                 object
country                  object
budget                  float64
imdb_score              float64
actors                   object
movie_facebook_likes      int64
dtype: object

In [ ]:
# Memeriksa jumlah missing values di setiap kolom
print(df.isnull().sum())

color                   11
director_name           11
duration                 0
gross                    8
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   4
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

In [ ]:
import numpy as np

In [ ]:
# Membersihkan Data
# Mengganti "N/A" dengan NaN
df.replace("N/A", np.nan, inplace=True)

In [ ]:
# 1. Menghapus baris yang memiliki NaN di kolom 'gross' dan 'budget'
# Menampilkan jumlah nilai NaN sebelum penghapusan
print("Jumlah nilai NaN sebelum penghapusan:")
print(df.isnull().sum())

Jumlah nilai NaN sebelum penghapusan:
color                   11
director_name           11
duration                 0
gross                    8
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   4
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

In [ ]:
# Menghapus baris yang memiliki NaN di kolom 'gross' dan 'budget'
df_cleaned = df.dropna(subset=['gross', 'budget']).copy()

In [ ]:
# Menampilkan jumlah nilai NaN setelah penghapusan
print("\nJumlah nilai NaN setelah penghapusan:")
print(df_cleaned.isnull().sum())

Jumlah nilai NaN setelah penghapusan:
color                   10
director_name           10
duration                 0
gross                    0
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   0
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

In [ ]:
# Menampilkan beberapa baris dari DataFrame yang sudah dibersihkan
print("\nMenampilkan 5 baris pertama dari DataFrame yang sudah dibersihkan:")
print(df_cleaned.head(10))

Menampilkan 5 baris pertama dari DataFrame yang sudah dibersihkan:
     color      director_name  duration        gross  \
0    Color    Martin Scorsese       240  116866727.0
1    Color        Shane Black       195  408992272.0
2   color   Quentin Tarantino       187   54116191.0
3    Color   Kenneth Lonergan       186      46495.0
4    Color      Peter Jackson       186  258355354.0
5      NaN                NaN       183  330249062.0
6    Color      Peter Jackson       -50  303001229.0
8    Color        Joss Whedon       173  623279547.0
9    Color        Joss Whedon       173  623279547.0
10     NaN         Tom Tykwer       172   27098580.0

                                  genres                          movie_title  \
0           Biography|Comedy|Crime|Drama              The Wolf of Wall Street
1                Action|Adventure|Sci-Fi                           Iron Man 3
2   Crime|Drama|Mystery|Thriller|Western                    The Hateful Eight
3                                  Drama                             Margaret
4                      Adventure|Fantasy  The Hobbit: The Desolation of Smaug
5                Action|Adventure|Sci-Fi   Batman v Superman: Dawn of Justice
6                      Adventure|Fantasy    The Hobbit: An Unexpected Journey
8                Action|Adventure|Sci-Fi                         The Avengers
9                Action|Adventure|Sci-Fi                         The Avengers
10                          Drama|Sci-Fi                          Cloud Atlas

    title_year language  country       budget  imdb_score  \
0         2013  English      USA  100000000.0         8.2
1         2013  English      USA  200000000.0         7.2
2         2015  English      USA   44000000.0         7.9
3         2011  English      usa   14000000.0         6.5
4         2013  English      USA  225000000.0         7.9
5          202  English      USA  250000000.0         6.9
6         2012  English      USA  180000000.0         7.9
8         2012  English      USA  220000000.0         8.1
9         2012  English      USA  220000000.0         8.1
10        2012  English  Germany  102000000.0        -7.5

                                               actors  movie_facebook_likes
0   Leonardo DiCaprio,Matthew McConaughey,Jon Favreau                138000
1           Robert Downey Jr.,Jon Favreau,Don Cheadle                 95000
2           Craig Stark,Jennifer Jason Leigh,ZoÃ« Bell                114000
3         Matt Damon,Kieran Culkin,John Gallagher Jr.                     0
4               Aidan Turner,Adam Brown,James Nesbitt                 83000
5            Henry Cavill,Lauren Cohan,Alan D. Purwin                197000
6               Aidan Turner,Adam Brown,James Nesbitt                166000
8   Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                123000
9   Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                123000
10               Tom Hanks,Jim Sturgess,Jim Broadbent                124000

In [ ]:
# 2. Menangani kesalahan penulisan di kolom 'color'
# Mengganti variasi 'color' menjadi 'Color'
df_cleaned['color'] = df_cleaned['color'].replace({'color': 'Color', 'colour': 'Color'})

# Menangani kesalahan penulisan di kolom 'country' (contoh)
# Mengubah 'usa' menjadi 'USA' dan 'uk' menjadi 'UK'
df_cleaned['country'] = df_cleaned['country'].replace({'usa': 'USA', 'uk': 'UK'})

# Normalisasi teks untuk kolom yang diinginkan
df_cleaned['color'] = df_cleaned['color'].str.capitalize()  # Mengubah ke format Capitalized
df_cleaned['country'] = df_cleaned['country'].str.upper()  # Mengubah ke huruf kapital semua

# Menampilkan hasil akhir
print(df_cleaned.head(10))

     color      director_name  duration        gross  \
0    Color    Martin Scorsese       240  116866727.0
1    Color        Shane Black       195  408992272.0
2   Color   Quentin Tarantino       187   54116191.0
3    Color   Kenneth Lonergan       186      46495.0
4    Color      Peter Jackson       186  258355354.0
5      NaN                NaN       183  330249062.0
6    Color      Peter Jackson       -50  303001229.0
8    Color        Joss Whedon       173  623279547.0
9    Color        Joss Whedon       173  623279547.0
10     NaN         Tom Tykwer       172   27098580.0

                                  genres                          movie_title  \
0           Biography|Comedy|Crime|Drama              The Wolf of Wall Street
1                Action|Adventure|Sci-Fi                           Iron Man 3
2   Crime|Drama|Mystery|Thriller|Western                    The Hateful Eight
3                                  Drama                             Margaret
4                      Adventure|Fantasy  The Hobbit: The Desolation of Smaug
5                Action|Adventure|Sci-Fi   Batman v Superman: Dawn of Justice
6                      Adventure|Fantasy    The Hobbit: An Unexpected Journey
8                Action|Adventure|Sci-Fi                         The Avengers
9                Action|Adventure|Sci-Fi                         The Avengers
10                          Drama|Sci-Fi                          Cloud Atlas

    title_year language  country       budget  imdb_score  \
0         2013  English      USA  100000000.0         8.2
1         2013  English      USA  200000000.0         7.2
2         2015  English      USA   44000000.0         7.9
3         2011  English      USA   14000000.0         6.5
4         2013  English      USA  225000000.0         7.9
5          202  English      USA  250000000.0         6.9
6         2012  English      USA  180000000.0         7.9
8         2012  English      USA  220000000.0         8.1
9         2012  English      USA  220000000.0         8.1
10        2012  English  GERMANY  102000000.0        -7.5

                                               actors  movie_facebook_likes
0   Leonardo DiCaprio,Matthew McConaughey,Jon Favreau                138000
1           Robert Downey Jr.,Jon Favreau,Don Cheadle                 95000
2           Craig Stark,Jennifer Jason Leigh,ZoÃ« Bell                114000
3         Matt Damon,Kieran Culkin,John Gallagher Jr.                     0
4               Aidan Turner,Adam Brown,James Nesbitt                 83000
5            Henry Cavill,Lauren Cohan,Alan D. Purwin                197000
6               Aidan Turner,Adam Brown,James Nesbitt                166000
8   Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                123000
9   Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                123000
10               Tom Hanks,Jim Sturgess,Jim Broadbent                124000

In [ ]:
# 3. Ubah atau hapus nilai-nilai yang tidak standar, seperti nilai negatif atau "N/A".
# Ubah semua nilai negatif di seluruh DataFrame menjadi NaN
# Ubah nilai negatif di kolom 'duration' menjadi NaN
df['duration'] = np.where(df['duration'] < 0, np.nan, df['duration'])

# Jika kamu ingin menghapus semua baris yang mengandung NaN setelah penggantian
df.dropna(inplace=True)

# Menampilkan hasil akhir
print("DataFrame setelah menghapus nilai negatif dan 'N/A':")
print(df.head(10))

DataFrame setelah menghapus nilai negatif dan 'N/A':
     color      director_name  duration        gross  \
0    Color    Martin Scorsese     240.0  116866727.0
1    Color        Shane Black     195.0  408992272.0
2   color   Quentin Tarantino     187.0   54116191.0
3    Color   Kenneth Lonergan     186.0      46495.0
4    Color      Peter Jackson     186.0  258355354.0
8    Color        Joss Whedon     173.0  623279547.0
9    Color        Joss Whedon     173.0  623279547.0
11   Color               Null     158.0  102515793.0
13   Color  Christopher Nolan     169.0  187991439.0
14   Color       F. Gary Gray     167.0  161029270.0

                                  genres                          movie_title  \
0           Biography|Comedy|Crime|Drama              The Wolf of Wall Street
1                Action|Adventure|Sci-Fi                           Iron Man 3
2   Crime|Drama|Mystery|Thriller|Western                    The Hateful Eight
3                                  Drama                             Margaret
4                      Adventure|Fantasy  The Hobbit: The Desolation of Smaug
8                Action|Adventure|Sci-Fi                         The Avengers
9                Action|Adventure|Sci-Fi                         The Avengers
11          Crime|Drama|Mystery|Thriller      The Girl with the Dragon Tattoo
13                Adventure|Drama|Sci-Fi                         Interstellar
14   Biography|Crime|Drama|History|Music               Straight Outta Compton

    title_year language country       budget  imdb_score  \
0         2013  English     USA  100000000.0         8.2
1         2013  English     USA  200000000.0         7.2
2         2015  English     USA   44000000.0         7.9
3         2011  English     usa   14000000.0         6.5
4         2013  English     USA  225000000.0         7.9
8         2012  English     USA  220000000.0         8.1
9         2012  English     USA  220000000.0         8.1
11        2011  English     USA   90000000.0         7.8
13        2014  English     USA  165000000.0         8.6
14        2015  English     USA   28000000.0         7.9

                                               actors  movie_facebook_likes
0   Leonardo DiCaprio,Matthew McConaughey,Jon Favreau                138000
1           Robert Downey Jr.,Jon Favreau,Don Cheadle                 95000
2           Craig Stark,Jennifer Jason Leigh,ZoÃ« Bell                114000
3         Matt Damon,Kieran Culkin,John Gallagher Jr.                     0
4               Aidan Turner,Adam Brown,James Nesbitt                 83000
8   Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                123000
9   Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                123000
11        Robin Wright,Goran Visnjic,Joely Richardson                 54000
13    Matthew McConaughey,Anne Hathaway,Mackenzie Foy                349000
14        Aldis Hodge,Neil Brown Jr.,R. Marcos Taylor                 76000

In [ ]:
# Transformasi Data
# 1. Mengubah tipe data kolom gross dan budget
df[["gross", "budget"]] = df[["gross",
"budget"]].astype(int)

# Menghapus baris dengan NaN yang mungkin muncul setelah konversi tipe data
df.dropna(subset=['budget', 'gross'], inplace=True)

# Menampilkan hasil akhir
print("DataFrame setelah mengubah tipe data 'budget' dan 'gross':")
print(df.head())

DataFrame setelah mengubah tipe data 'budget' dan 'gross':
    color      director_name  duration      gross  \
0   Color    Martin Scorsese     240.0  116866727
1   Color        Shane Black     195.0  408992272
2  color   Quentin Tarantino     187.0   54116191
3   Color   Kenneth Lonergan     186.0      46495
4   Color      Peter Jackson     186.0  258355354

                                 genres                          movie_title  \
0          Biography|Comedy|Crime|Drama              The Wolf of Wall Street
1               Action|Adventure|Sci-Fi                           Iron Man 3
2  Crime|Drama|Mystery|Thriller|Western                    The Hateful Eight
3                                 Drama                             Margaret
4                     Adventure|Fantasy  The Hobbit: The Desolation of Smaug

   title_year language country     budget  imdb_score  \
0        2013  English     USA  100000000         8.2
1        2013  English     USA  200000000         7.2
2        2015  English     USA   44000000         7.9
3        2011  English     usa   14000000         6.5
4        2013  English     USA  225000000         7.9

                                              actors  movie_facebook_likes
0  Leonardo DiCaprio,Matthew McConaughey,Jon Favreau                138000
1          Robert Downey Jr.,Jon Favreau,Don Cheadle                 95000
2          Craig Stark,Jennifer Jason Leigh,ZoÃ« Bell                114000
3        Matt Damon,Kieran Culkin,John Gallagher Jr.                     0
4              Aidan Turner,Adam Brown,James Nesbitt                 83000

In [ ]:
# 1. Mengubah tipe data kolom 'budget' dan 'gross' menjadi numerik
# Gunakan pd.to_numeric() untuk mengonversi dan atasi error jika ada nilai yang tidak bisa dikonversi
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')
df['gross'] = pd.to_numeric(df['gross'], errors='coerce')

# Menghapus baris dengan NaN yang mungkin muncul setelah konversi tipe data
df.dropna(subset=['budget', 'gross'], inplace=True)

# 2. Memisahkan kolom 'genre' yang memiliki beberapa nilai dalam satu baris
# Misalkan nilai-nilai dalam kolom 'genre' dipisahkan dengan koma
df_genres = df['genres'].str.split(',', expand=True)

# Gabungkan kembali ke DataFrame asli (opsional)
# Ini akan menambahkan kolom-kolom baru sesuai dengan jumlah genre yang ditemukan
df = pd.concat([df, df_genres], axis=1)

print("Menampilkan 5 baris pertama dari DataFrame:")
print(df.head())  # Menampilkan 5 baris pertama

Menampilkan 5 baris pertama dari DataFrame:
    color      director_name  duration        gross  \
0   Color    Martin Scorsese       240  116866727.0
1   Color        Shane Black       195  408992272.0
2  color   Quentin Tarantino       187   54116191.0
3   Color   Kenneth Lonergan       186      46495.0
4   Color      Peter Jackson       186  258355354.0

                                 genres                          movie_title  \
0          biography|comedy|crime|drama              The Wolf of Wall Street
1               action|adventure|sci-fi                           Iron Man 3
2  crime|drama|mystery|thriller|western                    The Hateful Eight
3                                 drama                             Margaret
4                     adventure|fantasy  The Hobbit: The Desolation of Smaug

   title_year language country       budget  imdb_score  \
0        2013  English     usa  100000000.0         8.2
1        2013  English     usa  200000000.0         7.2
2        2015  English     usa   44000000.0         7.9
3        2011  English     usa   14000000.0         6.5
4        2013  English     usa  225000000.0         7.9

                                              actors  movie_facebook_likes  \
0  Leonardo DiCaprio,Matthew McConaughey,Jon Favreau                138000
1          Robert Downey Jr.,Jon Favreau,Don Cheadle                 95000
2          Craig Stark,Jennifer Jason Leigh,ZoÃ« Bell                114000
3        Matt Damon,Kieran Culkin,John Gallagher Jr.                     0
4              Aidan Turner,Adam Brown,James Nesbitt                 83000

                                      0                                     0  \
0          Biography|Comedy|Crime|Drama          biography|comedy|crime|drama
1               Action|Adventure|Sci-Fi               action|adventure|sci-fi
2  Crime|Drama|Mystery|Thriller|Western  crime|drama|mystery|thriller|western
3                                 Drama                                 drama
4                     Adventure|Fantasy                     adventure|fantasy

                                      0
0          biography|comedy|crime|drama
1               action|adventure|sci-fi
2  crime|drama|mystery|thriller|western
3                                 drama
4                     adventure|fantasy

In [ ]:
# Menyimpan Data
df.to_csv('movie_dataset_cleaned.csv', index=False)

In [ ]:
df = pd.read_csv('movie_dataset_cleaned.csv')
df.head(10)

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes,genre_1
0,Color,Martin Scorsese,240.0,116866727,Biography|Comedy|Crime|Drama,The Wolf of Wall Street,2013,English,USA,100000000,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000,Biography|Comedy|Crime|Drama
1,Color,Shane Black,195.0,408992272,Action|Adventure|Sci-Fi,Iron Man 3,2013,English,USA,200000000,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000,Action|Adventure|Sci-Fi
2,color,Quentin Tarantino,187.0,54116191,Crime|Drama|Mystery|Thriller|Western,The Hateful Eight,2015,English,USA,44000000,7.9,"Craig Stark,Jennifer Jason Leigh,ZoÃ« Bell",114000,Crime|Drama|Mystery|Thriller|Western
3,Color,Kenneth Lonergan,186.0,46495,Drama,Margaret,2011,English,usa,14000000,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0,Drama
4,Color,Peter Jackson,186.0,258355354,Adventure|Fantasy,The Hobbit: The Desolation of Smaug,2013,English,USA,225000000,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000,Adventure|Fantasy
5,Color,Joss Whedon,173.0,623279547,Action|Adventure|Sci-Fi,The Avengers,2012,English,USA,220000000,8.1,"Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...",123000,Action|Adventure|Sci-Fi
6,Color,Joss Whedon,173.0,623279547,Action|Adventure|Sci-Fi,The Avengers,2012,English,USA,220000000,8.1,"Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...",123000,Action|Adventure|Sci-Fi
7,Color,Null,158.0,102515793,Crime|Drama|Mystery|Thriller,The Girl with the Dragon Tattoo,2011,English,USA,90000000,7.8,"Robin Wright,Goran Visnjic,Joely Richardson",54000,Crime|Drama|Mystery|Thriller
8,Color,Christopher Nolan,169.0,187991439,Adventure|Drama|Sci-Fi,Interstellar,2014,English,USA,165000000,8.6,"Matthew McConaughey,Anne Hathaway,Mackenzie Foy",349000,Adventure|Drama|Sci-Fi
9,Color,F. Gary Gray,167.0,161029270,Biography|Crime|Drama|History|Music,Straight Outta Compton,2015,English,USA,28000000,7.9,"Aldis Hodge,Neil Brown Jr.,R. Marcos Taylor",76000,Biography|Crime|Drama|History|Music